qwen-long_api*
result*
hyper_tasks/
hyper_tasks_low/
hypergraphs
ernie-lite-8k_low/
ablation/
cot_v_Iso/
ernie-lite-8k/
ernie-speed-128k/

gpt3.5/
gpt3.5_chatanywhere/
llama-3-8b-instruct/
qwen-long_api_low/
qwen-long_api_low_bk/
result_llama3_8b/
*.zip 
.pytest_cache/

